# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python Interface files
*.pyi

.DS_Store
*/.DS_Store
test*
.clangd
.vscode/
**/__pycache__
build/
.cache/
*.pdf
**/benchmark-points
Examples/**/include
Examples/**/lib
Examples/**/src/pyBindings.cpp
Examples/**/py/utils
Examples/**/py/wcInfo
Examples/**/py/plots
Examples/**/meson.build
Examples/**/compileCpp.sh
